.about {
    background-color: #ffffff;
    padding: 5% 0;
}

.aboutFlex {
    display: flex;
}

.aboutFlexLeft {
    width: 50%;
}

.aboutFlexRight {
    width: 50%;
    margin: auto 0;
    margin-left: 5%;
}

.headshot {
    margin-top: 20px;
    box-shadow: 20px 20px $accentColor;
}
