.contact {
    background-color: $primaryColor;
    padding: 2% 0;
}

.contact h2 {
    text-align: center;
}

.contactForm {
    width: 60%;
}

.contactForm input[type=text],
.contactForm input[type=email] {
    width: 100%;
    margin: 2% 0;
}