.contact {
    background-color: $primaryColor;
    padding: 2% 0;
    display: flex;
}

.contact h2 {
    text-align: center;
}

.contactForm {
    padding-top: 3%;
    width: 60%;
    margin: 0 auto;
}

.contactForm button {
    width: 100%;
}

.contactForm input[type=text],
.contactForm input[type=email] {
    border: none;
    border-bottom: 2px solid $primaryFontColor;
    background-color: $primaryColor;
    width: 100%;
    margin: 2% 0;
}

textarea {
    background-color: $primaryColor;
    resize: none;
    width: 100%;
}

.contactForm input[type=text]:focus,
.contactForm input[type=email]:focus,
textarea:focus {
    background-color: #ffffff;
}
