.projects {
    background-color: $secondaryColor;
    padding: 2% 0;
}

.projects h2 {
    text-align: center;
    margin-bottom: 2%;
}

.projectImage {
    width: 100%;
    height: auto;
}

.projectTitle {
    margin-bottom: 15px;
}

.imageLeft {
    box-shadow: -30px 30px $accentColor;
}

.imageRight {
    margin-left: 70px;
    box-shadow: 30px 30px $accentColor;
}

.projectRight {
    margin-left: 65px;
}

.individualProject {
    display: flex;
    padding: 4% 0;
}

.individualProject div {
    width: 50%;
}

.projectText {
    margin: 20px 0;
}

.iconRow {
    margin: 15px 0;
}

.smallIcon {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 15px;
}

.smallFa {
    margin: 0 15px;
}

.externalProjectLinks {
    display: flex;
}

.viewButton {
    font-size: 2rem;
    height: 50px;
    border-style: none;
    margin-top: 10px;
    margin-right: 15px;
    background-color: $accentColor;
}

.viewButton:hover {
    background-color: $secondaryFontColor;
    color: $primaryColor;
}

.friendLink {
    color: $accentColor;
}

.friendLink:focus,
.friendLink:hover {
    color: $secondaryFontColor;
}

.friendLink:visited {
    color: $accentColor;
}