@media (max-width: 1024px) {
    .aboutFlexRight {
        margin-left: 8%;
    }

    .contactForm {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .headerText {
        margin-top: 50%;
    }
}

@media (max-width: 414px) {

}

@media (max-width: 375px) {
    
}

@media (max-width: 320px) {

}