.skills {
    background-color: $primaryColor;
    padding: 2% 0;
}

.skillsHeading {
    text-align: center;
}

.skillColumn {
    display: flex;
    flex-wrap: wrap;
}

.skillColumn div {
    width: 33%;
}

.individualSkill {
    text-align: center;
    margin: 2% 0;
}

.individualSkill i {
    margin-bottom: 10px;
}

.icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
}