article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
  font-size: 4rem;
}

.skip-link:focus {
  left: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

h1,
h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

.subHeading {
  font-size: 5rem;
}

.bodyText {
  font-size: 2.4rem;
  line-height: 1.4;
}

.headerSection {
  background-color: #f9f9f9;
  margin-top: 0;
  height: 100vh;
}

.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.headerSection ul {
  margin-top: 20px;
  font-size: 1.8rem;
  list-style-type: none;
}

.headerSection li {
  display: inline;
  margin: 0 20px;
}

.headerSection a:hover {
  color: #fece47;
}

.headerText {
  margin-top: 18%;
}

.socialIcon {
  margin: 20px 15px 0 0;
}

.mainHeader {
  font-size: 9rem;
}

.yellowHeader {
  color: #fece47;
}

.secondaryHeader {
  font-size: 3.4rem;
}

.resumeDownload {
  background-color: #fece47;
  border-style: none;
  border-radius: 12px;
  margin-top: 25px;
}

.resumeDownload:hover {
  background-color: #333333;
}

.about {
  background-color: #ffffff;
  padding: 5% 0;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutFlexLeft {
  width: 50%;
}

.aboutFlexRight {
  width: 50%;
  margin: auto 0;
  margin-left: 5%;
}

.headshot {
  margin-top: 20px;
  -webkit-box-shadow: 20px 20px #fece47;
          box-shadow: 20px 20px #fece47;
}

.skills {
  background-color: #f9f9f9;
  padding: 2% 0;
}

.skillsHeading {
  text-align: center;
}

.skillColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skillColumn div {
  width: 33%;
}

.individualSkill {
  text-align: center;
  margin: 2% 0;
}

.individualSkill i {
  margin-bottom: 10px;
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.projects {
  background-color: #ffffff;
  padding: 2% 0;
}

.projects h2 {
  text-align: center;
  margin-bottom: 2%;
}

.projectImage {
  width: 100%;
  height: auto;
}

.projectTitle {
  margin-bottom: 15px;
}

.imageLeft {
  -webkit-box-shadow: -30px 30px #fece47;
          box-shadow: -30px 30px #fece47;
}

.imageRight {
  margin-left: 70px;
  -webkit-box-shadow: 30px 30px #fece47;
          box-shadow: 30px 30px #fece47;
}

.projectRight {
  margin-left: 65px;
}

.individualProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4% 0;
}

.individualProject div {
  width: 50%;
}

.projectText {
  margin: 20px 0;
}

.iconRow {
  margin: 15px 0;
}

.smallIcon {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 15px;
}

.smallFa {
  margin: 0 15px;
}

.externalProjectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.viewButton {
  font-size: 2rem;
  height: 50px;
  border-style: none;
  margin-top: 10px;
  margin-right: 15px;
  background-color: #fece47;
}

.viewButton:hover {
  background-color: #999999;
  color: #f9f9f9;
}

.friendLink {
  color: #fece47;
}

.friendLink:focus,
.friendLink:hover {
  color: #999999;
}

.friendLink:visited {
  color: #fece47;
}

.contact {
  background-color: #f9f9f9;
  padding: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact h2 {
  text-align: center;
}

.contactForm {
  padding-top: 3%;
  width: 60%;
  margin: 0 auto;
}

.contactForm button {
  width: 100%;
}

.contactForm input[type=text],
.contactForm input[type=email] {
  border: none;
  border-bottom: 2px solid #333333;
  background-color: #f9f9f9;
  width: 100%;
  margin: 2% 0;
}

textarea {
  background-color: #f9f9f9;
  resize: none;
  width: 100%;
}

.contactForm input[type=text]:focus,
.contactForm input[type=email]:focus,
textarea:focus {
  background-color: #ffffff;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 2% 0;
}

@media (max-width: 1024px) {
  .aboutFlexRight {
    margin-left: 8%;
  }
  .contactForm {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .headerText {
    margin-top: 50%;
  }
  .aboutFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .aboutFlexLeft {
    width: 100%;
  }
  .aboutFlexRight {
    width: 100%;
    margin: 0;
    margin-top: 35px;
  }
  .individualProject {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .individualProject div {
    width: 100%;
  }
  .orderTwo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .projectRight {
    margin-left: 0;
    margin-top: 45px;
  }
  .imageRight {
    margin-left: 0;
    margin-bottom: 45px;
  }
}

@media (max-width: 414px) {
  .headerSection li {
    display: block;
    margin-top: 10px;
  }
  .mainHeader {
    font-size: 6.5rem;
  }
  .skillColumn div {
    width: 50%;
  }
  .skillColumn div:last-child {
    width: 100%;
  }
  .imageLeft {
    -webkit-box-shadow: -10px 10px #fece47;
            box-shadow: -10px 10px #fece47;
    margin-top: 25px;
  }
  .imageRight {
    -webkit-box-shadow: 10px 10px #fece47;
            box-shadow: 10px 10px #fece47;
    margin-top: 25px;
  }
}

@media (max-width: 375px) {
  .headerText {
    margin-top: 40%;
  }
}

@media (max-width: 320px) {
  .socialIcon {
    margin: 20px 10px 0 0;
  }
}
